@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins' ;
}

header {
    border: solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;

}


#connexion {
    padding: 10px;
    border: solid black 2px;
    border-radius: 20px;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
}

#titre2 p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
}

.bloc {
    display: flex;
    align-content: center;
}

#article1 {
    border: solid black 2px;
    width: 25%;
    display: block;
    justify-content: center;
    text-align: center;
}

#article2 {
    border: solid black 2px;
    width: 25%;
    display: block;
    justify-content: center;
    text-align: center;
}

#article3 {
    border: solid black 2px;
    width: 25%;
    display: block;
    justify-content: center;
    text-align: center;
}

#article4 {
    border: solid black 2px;
    width: 25%;
    display: block;
    justify-content: center;
    text-align: center;
}

.logiciel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titrecontact p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: small;
}

#contact {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

.contact-article-container {
    font-size: small;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

#entete {
    color: white;
}

#logori7 {
    border-bottom: solid black 2px;
    text-align: center;
}

#bas {
    display: flex;
    justify-content: space-around;
}

#droite {
    border: solid black 2px;
    width: 50%;
    display: block;
    justify-content: center;
    text-align: start;
    color: gray;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

a {
    border: solid blue 2px;
    border-radius: 20px;
    padding: 5px 30%;

}

#lien {
    display: flex;
    justify-content: center;
}